<!doctype HTML>
<!-- Copyright 2013 danielstern.ca - feel free to examine, learn and apply -->

<html ng-app='lisaApp'> 
<head>
  <title>LISA: The Neuro-Computational Matrix</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">

  <script src="lib/jquery/jquery-1.10.1.min.js"></script> 
  <script src="lib/angular/angular.js"></script>
  <script src="lib/less/less-1.3.3.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.js"></script>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/underscore/underscore.string.min.js"></script>
  <script>
     _.mixin(_.str.exports())
  </script>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.css">

  <script src="js/stories.js"></script>
  <script src="js/transliterate.js"></script>
  <script src="js/expressions.js"></script>
  <script src="lang/lexicon.js"></script>
  <script src="js/casualExpressions.js"></script>
  <script src="js/patterns.js"></script>
  <script src="js/filter.js"></script>
  <script src="js/ponder.js"></script>
  
  <!-- LISA -->
  <script src="js/Speech.js"></script>
  <script src="js/Brain.js"></script>
  <script src="js/Lisa.js"></script>
  <script src="js/Utility.js"></script>
  <script src="js/Logic.js"></script>
  <script src="js/Personality.js"></script>
  <script src="js/Psychic.js"></script>
  <script src="js/Memory.js"></script>
  <script src="js/Expresso.js"></script>


</head>
<body>
  <div class='container' ng-controller='LisaController'  style='padding:60px;'>
    <div class="row">
      <div class='span5'>
        <h3>Lisa</h3>
           <p>{{saying}}</p>
        <form id='conversation-form' ng-submit='sayRandom()'>
          <input  ng-model='sayTo' type='text'>
        <button class='btn' >Say Something Random</button>
        </form>
      </div>
       <div class='span3'>
         <table class='table'>
            <tr>
              <th>Thinking About</th>
              <td>{{thought}}</td>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  Recently
                </th>
                <td>
                  <p ng-repeat="thing in recentThings|limitTo:3">
                    {{thing.word}}
                 </p>
                </td>
              </tr>
               <tr>
                <th>
                  Random Things
                </th>
                <td>
                  <p ng-repeat="thing in randomThings|limitTo:3">
                    {{thing.word}}
                 </p>
                </td>
              </tr>
            </tbody>
         </table>
      </div>
      <div class='span3'>
        <img src='../misc/lisa.jpg' width='200px' height='auto'>
      </div>
      
    </div>

  </div>
</body>

<script>

  var lisaApp = angular.module('lisaApp',[])
   .controller('LisaController', ['$scope', function($scope) {

      var $Lisa = new Lisa();
      $scope.thought = 'Unknown';

      $scope.saying = 'Hello!'
      $scope.randomThings = _.sample(brain.lexicon.things, 3)

      $scope.recentThings = [];

      $scope.sayRandom = function() {

        var reply = $Lisa.hears($scope.sayTo);
        $scope.saying = reply[0];
        if (!reply[1])    return;
        $scope.thought = reply[1].word;
        $scope.recentThings.push(reply[1]);
        $scope.recentThings = _.last($scope.recentThings,3);
      }

      //$scope.sayRandom();
  }])
  

</script>
